::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a7b3cb;font-size: 13px;text-align:center;border:0;
  opacity: 1; /* Firefox */
 
}
*:before, *:after {
    box-sizing: border-box;
}
#navbar{width:250px;background-color: #4f5a6e;min-height: 498px;float:left;position:absolute;height:100%;}
h1{
     margin: 0;
    padding: 23px 0;
    white-space: nowrap;
    color: #333;
    font-family: 'PT Sans',Arial,sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}
body {
    color: #333;
    background: #dee1e5;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 15px;
}
header{background-color: #f2f2f2;width:100%;height:28px;}

.leftSideTextContainer{display:flex;margin: 0px 20px;align-items:center;overflow:none;cursor:pointer;}
.leftSideTextContainer:hover .leftSideText{color:white;text-decoration:underline;}
.leftSideImg{width:15px;height:15px;}
.leftSideText{color: #a7b3cb;display: inline-block;font-size: 14px;font-weight: 700;height: 40px;line-height: 40px;padding: 0 12px;width: 100%;}
.leftSideText:hover{text-decoration:underline;}
.leftSideLogoContainer{height:65px;background-color:#424b5f;padding:15px 0px;text-align:center;box-sizing:border-box;}
.leftSideLogo{width:100%;height:100%;color:white;font-size:22px;font-weight:900;}
.leftSideProfileContainer{background-color:#4f5a6e;transition: all .4s ease-in;box-sizing: border-box;height:70px; display:flex;align-items:center; justify-content:space-between;padding: 0 10px;}
.leftSideProfileImg{width:35px;height:35px;border-radius:50%;}
.leftSideProfileText{color: #fff;font-size: 14px;line-height: 35px;margin: 0 6px;font-weight:600}
.leftSideProfileArrow{width:15px;height:15px;cursor:pointer;color:#a7b3cb;margin-right:7px;}
.leftSideProfileClosedMenu{box-sizing:border-box;height:0px;background: #4f5a6e;transition: all .4s ease-in;display:flex;overflow:hidden;align-items:flex-start;flex-direction:column;}
.leftSideProfileClosedMenuText{display:flex;align-items:center;width:100%;padding: 0px 19px;box-sizing:border-box;cursor:pointer;}
.leftSideProfileClosedMenuText:hover {background-color:#353E50;}
.leftSideProfileClosedMenuText:hover .leftSideText{color:white;text-decoration:underline;}
main{display:flex;flex-direction: column;flex:99%;background-color:#fff;min-height: 698px;}
.mainHead{flex:1%;min-height:65px;background: #4f5a6e;    padding: 0 30px;box-sizing:border-box;display:flex;align-items:center;}
.mainHeadSearch{background: #424b5f;padding-left: 15px;padding-right: 15px;border: 0;    width: 100%;font-family: "PT Sans",Helvetica,Arial,sans-serif;border-radius: 5px;color: #a7b3cb;font-size: 14px;text-align:left;font-style: normal;font-weight: normal;height: 37px;line-height: 1.5em;margin: 0;}
.mainHeadSearch:hover{background: #3a4357;}
.mainLessonListContainer{border: 2px solid #eee;
    border-radius: 5px;padding: 20px 20px ;box-sizing:border-box;display:flex;flex-wrap: wrap;width:100%;}
.mainLesson{    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);margin-left:1.5%;
   flex:47%;    margin: 0 1.5% 25px;box-sizing:border-box;}
	.mainLessonImg{transition:0.3s;width:89px;height:89px;cursor:pointer;margin-right: 20px;border-radius:50px;    box-shadow: 0 3px 8px rgba(0,0,0,.16), 0 3px 8px rgba(0,0,0,.23);
}.mainLessonImg:hover{box-shadow: 0 1px 2px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.23);}
	.mainLessonTitle{cursor:pointer;
    font-weight:700;font-size:17px;padding-top:0px;margin:0px;line-height:1.5em;}
	.mainLessonTitle:hover{text-decoration:underline;}
	.mainLessonNumber{padding: 10px;
    border-bottom: 1px solid #eee;text-decoration: none;
    color: #2d72d9;cursor:pointer;
    font-size: 15px;
    font-weight: 700;}.mainLessonNumber:hover{text-decoration:underline;}
	.mainLessonBottom{padding: 3px 10px;border-radius:2px;
    color: #2d72d9;height:20px;cursor:pointer;
    border:1px solid #2d72d9;align-items:center;
    font-size: 13px;display:flex;width:60%;
    font-weight: 700;}
    .mainLessonButtonContainer{overflow: hidden;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: right;
    margin-right: 15px;}
    .mainLessonStringTag{color: #1fbba6;font-weight:bold;}
    .mainLessonNumberTag{color: #9ea7b3;}
    .mainLessonTagContainer{display:flex;flex-direction:column;    margin-top: 15px;}
    .mainLessonTagsContainer{display:flex;border-top: 1px solid #f0f0f0;    padding: 0 25px 15px;
    overflow: hidden;align-items:center;justify-content:space-between;}
	.mainLessonButton{transition:0.2s;cursor:pointer;background-color: #1abc9c;border:0;font-size:12px; outline:none;   color: #fff;padding:10px 20px;border-radius:10px;box-sizing:border-box;}
	.mainLessonButton:hover{background-color: #17A68A;}
	.mainLessonBottom:hover{border:1px solid #468DF7;color:#468DF7;}
	.mainLessonBottomNumber{border-left: 1px solid #2d72d9;
    padding: 0 0 0 10px;
    margin-left: 7px;
    }
	.rightSideContainer{flex:1%;min-width: 300px;display:flex;flex-direction: column;}
	.rightSideHead{flex:1%;min-height:65px;max-height:65px;background: #4f5a6e;padding:14px 68px;box-sizing:border-box;    border-left: 1px solid #424b5f;}
	.rightSideHeadButton{background-color: #65c178;cursor:pointer;
    border-radius: 5px;color:white;font-weight:600;width:100%;height:100%;border:0;}
	.rightSideHeadButton:hover{background-color: #59A969;}
	.rightSideMain{flex:99%;border-left: 1px solid #f2f2f2;background-color: #f2f2f2;display:flex;flex-direction: column;}
	.rightSideRecommendTitle{    margin: 0 20px;
    border: 0;
    border-bottom: 1px solid #dae1e8;
    font-size: 13px;padding: 15px 0 10px;
    text-transform: uppercase;line-height: 1.5em;
    color: #333;
    font-size: 13px;
    font-weight: 700;}
	.rightSideRecommendImg{max-width: 100%;
    height: auto;position: relative;
    padding-top:12px;cursor:pointer;
    border-bottom: 1px solid #f0f0f0;}

	.rightSideRecommendText{padding-top: 5px;cursor:pointer;
        border-bottom: 1px solid #dae1e8;padding-bottom: 12px;}
		.rightSideRecommendText:hover{text-decoration:underline; }
		.moreButton{padding: 0 8px;
    color: #a5acb3;cursor:pointer;
    border:1px solid #a5acb3;border-radius:3px;
    font-size: 17px;padding:5px 5px;
    font-weight: 700;}
	.moreButton:hover{
    color: #898D92;
    border:1px solid #898D92;}
		.moreButtonContainer{width:100%;display:flex;align-items:center;justify-content:center;margin-top:20px;margin-bottom:20px;}
		.commentContainer{display:flex;width:100%;flex-direction:column;margin-top:20px;border-bottom:2px solid #eee;padding-bottom:30px;}
		.commentOwnerImg{border-radius:50%;margin-right:10px;width:35px;height:35px;border-radius:50%;}
		.commentOwnerName{color: black;font-size: 14px; line-height: 35px;font-weight:600;position:relative; bottom:5px;}
		.commentText{min-height:60px;padding:0 0 0 45px;}
		.commentAnswer{color: #a5acb3;font-weight:700;padding-left:45px;cursor:pointer;}
		.commentAnswer:hover{text-decoration:underline;}
	.commentTop{font-weight:500;font-size:15px;   line-height: 1.5em;display:flex;justify-content:space-between;}
	.commentDate{font-size: 14px;font-weight: normal;color: #9099a3;margin:5px; line-height: 1em;}
	.commentBottom{display:flex;justify-content:space-between;align-items:center;margin-top:10px;}
	.commentBlock{border-top: 2px solid #eee; border-bottom: 2px solid #eee;border-radius: 5px;padding: 20px 40px;font-weight:700;width:100%;box-sizing:border-box; }
	.borderText{padding: 8px 0;margin-top:10px;
    border-bottom: 2px solid #4f5a6e;color:#4f5a6e;}
	.articleContainer{border: 2px solid #eee;
    border-radius: 5px;padding: 0px 30px 20px  ;box-sizing:border-box;display:flex;;flex-wrap: wrap;width:100%;}
	.articleInfoContainer{display:flex;justify-content:space-between;width:100%;margin: 30px 10px 0px;}
	
	.articleInfoDate{font-size: 14px;
    font-weight: normal;
    color: #9099a3;
    line-height: 1em;}
	.articleTag{text-transform: uppercase;
    color: #9C7FDA;display:inline;
    font-size: 12px;text-decoration:none;
    font-weight: 700;margin-right: 5px;
    letter-spacing: .5px;
    line-height: 1em;}
	.articleTag:hover{text-decoration:underline;}
	.articleTagContainer{height:24px;margin-bottom:3px;margin-top:20px;}
	.articleTagImg{display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;margin-right: 5px;
    vertical-align: middle;
    position: relative;}
	.articleHead{box-sizing: border-box;height:70px; display:flex;align-items:center;justify-content:space-between;width:100%;
   }
   .articlePlace{color: #18bc9c;
    text-decoration: none;}
	.articlePlace:hover{
    text-decoration: underline;}
	.articleAuthor{color: #18bc9c;font-size: 14px;
    line-height: 35px;margin: 0 8px;font-weight:500;}
	.articleAuthorText{color: #9099a3;
    font-size: 15px;
    line-height: 1em;}
	.articleInfoView{
    font-size: 14px;
    font-weight: normal;
    color: #9099a3;
    line-height: 1em;}
	a.next{    background-color: #65c178;    font-family: Verdana,sans-serif;
    font-size: 15px;
	
	 padding: 8px 16px;
    text-decoration: none;   
    text-align: center;
    cursor: pointer; line-height: 1.5;
    color: #ffffff;
border-color: #4CAF50;    border: none;}

a.next:hover{background-color: #159776;}
.nextPrevContainer{display:flex;justify-content:space-between;}
.writeCommentContainer{width:95%;margin-top:20px;box-sizing:border-box;justify-content:column;}
.writeCommentButtonsContainer{border-radius: 4px 4px 0 0;
    background: #fff;
    width: 100%;min-height:40px;
    line-height: 0;box-sizing:border-box;
    border: 1px solid #d2d6d7;
    border-bottom: 0;
    display: flex;}
	.writeCommentTextarea{font-family: "PT Sans",Helvetica,Arial,sans-serif;
    width:100%;box-sizing:border-box;
    font-size: 15px;
    
    background: #fff;
    box-shadow: none;min-height:168px;
    border: 1px solid #d2d6d7;
    outline: none;
    padding: 7px 5px;}
	.writeCommentButtons{border-right: 1px solid #d6dcde;transition:0.3s;height:40px;width:40px;font-size:20px;padding:20px 0px;text-align:center;box-sizing:border-box;cursor:pointer;}
	
	.writeCommentImg{width:40px;height:40px;padding:10px;box-sizing:border-box;border-right: 1px solid #d6dcde;cursor:pointer;transition:0.3s;}

	.submitBtn{padding: 0 8px;cursor:pointer;outline:none;
    color: #65c178;display:inline-block;
    border:1px solid #65c178;
        font-size: 13px;border-radius:5px;
    font-weight: 700;min-width:100px;
    padding: 0px 8px;    background-color: inherit;
        height: 30px;margin-right:10px;
    line-height: 30px;}
	
	.like{fill:#bbc0c4;cursor:pointer;transition:0.5s;}
	.like:hover{fill:#ACDF87;}
	.dislike{fill:#bbc0c4;cursor:pointer;transition:0.3s;}
	.dislike:hover{fill:#F37271;}
	.chTagContainer{align-items:center;display:flex;box-sizing:border-box;width:100%;border-top: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0;}
	.chTag{color: #b0b8bd;padding: 12px 0;
    font-size: 12px;    margin: 0 0 0 30px;
    font-weight: 800;cursor:pointer;}
	.chTag:hover{color: #333;}
	.nextLessons{display:flex;cursor:pointer;justify-content:space-between;width:100%;box-sizing:border-box;    border-bottom: 1px solid #f0f0f0; padding:10px 15px;   }
	.nextLessons:hover div{color:#1FBBA9;}
	label{line-height: 1.5em;
    font-size: 15px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;}
	input.setting{ border: 1px solid #bbbcc0;
    box-sizing:border-box;align-items:center;
    padding: 7px 5px;width:100%;
    border-radius: 5px;
    line-height: 1.5em;
    color: #333;
    font-size: 15px;
    width: 100%;
    z-index: 0;margin-bottom:20px;
    height: 30px;}

#myBar {
  width: 1%;transition: opacity 0.2s ease-out;
  height: 1px;opacity:1;box-shadow: 0 0.5px 1px #2d72d9;
  border-radius:2px;
  background-color: #2d72d9;
}
.container {height:40px;
  width: 100%;margin-top:10px;display:flex;box-sizing:border-box;background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);


  background-color:#e5e5e5;
}

.container img{width:40px;border-radius:6px 0 0 6px;}
#hideContainerValue{
    opacity:0;transition:0s;
}
.skills {border-radius:0 6px 6px 0;
  display:flex;align-items:center;justify-content:center;padding-right:10px;box-sizing:border-box;
 width:0;
  
  color: white;
}

.html {background-color: #F26525;}
.css {background-color: #24ABE2;}
.js {background-color: #F0DA50;}
.php {background-color: #5F83BB;}
.sql {background-color: #11D7C3;}
.java {background-color: #F99924;}
.achievments{
	display: block;
    border-radius: 50%;
    float: left;
    height: 100px;background-color: #9CCC65;
    margin: 10px;
    width: 100px;}
	.achievments img{
	margin: 10px;
    height: 80px;}
	hr {width:100%;
    height: 1px;    margin: 20px -20px;
    border: none;
    background: #ddd;
}
.infoTitle{ padding: 10px;width:100%;
    background-color: #f0f0f0;font-size:15px;
    border-radius: 5px;font-weight:bold;margin-top: 15px;
    margin-bottom: 5px;}
.clicked{border-bottom: 2px solid #333;color:#333;}
.lessonString{
text-align: center;line-height: 1em;font-size: 15px;color: #9099a3;font-weight: normal;
}
.lessonNumber{
color: #2d72d9;font-size: 21px;font-weight: 700;text-align: center;line-height: 1em;margin-bottom: 5px;
}
.lessonContainer{
    display:flex;flex-direction:column;    border-left: 1px solid #f0f0f0;width:105px;
}
.followerUsers{
    margin-top: 3px;margin-bottom: 3px; margin-left: 10px;width:35px;height:35px;border-radius:50%;
}
.lessonImage{
    box-shadow: 0 1px 2px rgba(0,0,0,.16), 0 1px 2px rgba(0,0,0,.23);width:150px;border-radius:40px;
}
.lessonName{
    text-align: center;margin-bottom: 5px;font-size: 23px;white-space: nowrap;color: #333;margin:10px 0;font-weight: 700;text-align:center;
}
.lessonInfoContainer{
    display:flex;flex-direction:column;padding: 40px 20px;justify-content:center;align-items:center;
}
.labell{line-height: 16px;

    color: #333;

    font-size: 14px;

    

    font-weight: 700;

    margin-bottom: 12px;

    display: inline-block;

    width: 100%;

    vertical-align: baseline;}

    .inputt{width: 100%;

    height: 40px;

    background: #FFF;

    border: 1px solid #DBDBDB;

    padding: 0 14px;

    box-sizing: border-box;

    font-size: 14px;

  }

    .alert {

  padding: 20px;margin-top:10px;

  background-color: #f44336;
opacity: 0;
  color: white;
  transition: 0.5s;

}

#myLoaderBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

.closebtn {

  margin-left: 15px;

  color: white;

  font-weight: bold;

  float: right;

  font-size: 22px;

  line-height: 20px;

  cursor: pointer;

  transition: 0.3s;

}



.closebtn:hover {

  color: black;



    color: #333;}

    .buttonn{background-color: #558cb7;

    color: #fff;    

    padding: 0;    

    

    padding: 0 16px;

    border-radius: 3px;

    border: 0;

    box-shadow: none;

    height: 40px;

    line-height: 15px;

    

    font-size: 15px;

   

    font-weight: 500;

    

    text-align: center;

    cursor: pointer;

    height: 48px;}

    .reminder{-webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;

    line-height: 16px;

    color: #558cb7;

    font-size: 14px;

   

    font-weight: 500;

    text-decoration: none;

    display: inline-block;

    margin-top: 15px;}